# Supabase Configuration
# https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://jkkfaxhmtcjjkwpzqdtb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impra2ZheGhtdGNqamt3cHpxZHRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MTY2NDgsImV4cCI6MjA5NjA5MjY0OH0.EC-uBAUAqKOYgFjcTmkHxbtV1uNGu0lIRaNDqpZVNE0
